.SiteTitle {
    font-size: 24px;
    margin: 10px;
    font-weight: 600;
}

.Content {
    display: flex;
    // align-items: center;
}

.AboutPanel {
    display: inline-block;
    margin: 0 10px;
    width: 33%;
}

.AboutPanel h1 {
    font-weight: 900;
}

.AboutPanel p {
    padding-bottom: 20px;
}