.SongInfo {
    width: 100%;
    padding: 5px 10px; 
}

.SongInfo .Inner {
    width: 100%;
    display: inline-block;
    outline: 1px solid #ffffff;
    white-space: nowrap;
}

.SongInfo .Inner .Thumb {
    display: inline-block;
    width: 100px;
    height: 100%;
    vertical-align: middle;
    padding: 10px;
    // margin: auto;
}

.SongInfo .Inner .InfoText {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    padding: 10px;
}

.SongInfo .Inner .AddSongButton {
    float: right;
    font-size: 20px;
    color: rgb(80, 192, 230);
    padding: 10px;
}

.Playlist {
    display: inline-block;
    width: 50%;
    // margin: 10px;
}