.SongInfo {
    width: 100%;
    padding: 5px 10px; 
}

.SongInfo .Inner {
    width: 100%;
    display: flex;
    align-items: center;
    outline: 1px solid #ffffff;
    // white-space: nowrap;
}

.SongInfo .Inner .Thumb {
    display: inline-block;
    width: 100px;
    height: 100%;
    vertical-align: middle;
    padding: 10px;
    // margin: auto;
}

.SongInfo .Inner .InfoText {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    padding: 10px;
}

.SongInfo .Inner .AddSongButton {
    background-color: rgb(80, 192, 230);
    outline: 1px solid white;
    width: 20px;
    height: 20px;
    margin: 10px 10px auto auto;
    order: 2;
    border-radius: 2px;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
    color: white;
}

.Playlist {
    display: inline-block;
    width: 50%;
    // margin: 10px;
}