.SearchBar {
    display: inline-block;
    width: 33%;
}

.SearchBar .SearchForm {
    vertical-align: top;
    width: 100%;
    padding: 10px;
}

.SearchBar .SearchForm .Box {
    padding: 5px;
    outline: 1px solid white;
    width: 100%;
}